@import "../../CustomProps.css";

/*
    Contents
  1. General Container
  2. Options Section
  3. Scores Section
  4. Board Section
  5. Turn Section
*/

/* 1. General Container*/
.game {
    padding: 0rem 2.0rem;
    width: 100vw;
}

/* 2. Options Section */
.game .options {
    display: flex;
    height: 4.0rem;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.game .options .logo {
    height: 100%;
}

.game .options .button {
    background-color: var(--color-menu-p);
    border: unset;
    border-radius: 4.0rem;
    box-shadow: unset;
    color: white;
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    height: 100%;
    justify-content: center;
    margin-bottom: unset;
    min-width: 10.8rem;
    padding: 3.2rem 1.0rem;
    padding: unset;
    text-align: center;
    width: 11rem;
}

/* 3. Scores Section */
.game .scores {
    display: flex;
    height: 8rem;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.game .scores .button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    height: 8.0rem;
    line-height: 2.0rem;
    margin-bottom: unset;
    padding: 1rem 3.5rem;
    width: 14.2rem;
}

.game .scores .button:first-of-type::before {
    content: url(../../assets/images/player-one.svg);
    position: absolute;
    transform: translateX(-6.5rem);
}

.game .scores .button:last-of-type::before {
    content: url(../../assets/images/player-two.svg);
    position: absolute;
    transform: translateX(6.5rem);
}

.game .scores .button div {
    font-size: 3.2rem;
}

/* 4. Board Section */
.game .board {
    height: 31rem;
    position: relative;
    width: 33.5rem;
    margin: 0 auto;
}


.game .board>.layer {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.game .board .back {
    background-image: url(../../assets/images/board-layer-black-small.svg);
    border-radius: 20px;
    box-shadow: 0px 10px 0px #000000;
    z-index: var(--board-back);
}

.game .board .mid {
    z-index: var(--board-mid);
    height: 91%;
    width: 98%;
}

.game .board td {
    width: 4.8rem;
    margin: 0 auto;
    text-align: center;
}

.game .board .front {
    background-image: url(../../assets/images/board-layer-white-small.svg);
    z-index: var(--board-front);
}

/* this will handle the click events to play tokens in the mid layer of board */
.game .board .interactive {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    /* background-color: red; */
    z-index: var(--board-front);
    cursor: pointer;
}

.game .board .mid .pellet {
    z-index: var(--board-mid);
    height: 4.3rem;
    width: 4.3rem;
    background-size: contain;
    transform: translate(4px, 6px);
    background-repeat: no-repeat;
    background-position: center;


}

/* .game .board .mid .pellet.p1 {
    background-image: var(--p1-pellet);
} */

/* .game .board .mid .pellet.p2 {
    background-image: var(--p2-pellet);
} */

/* 5. Turn Section */
.game .turn {
    position: relative;
    z-index: calc(var(--board-front));
    background-image: url(../../assets/images/turn-background-red.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-2rem);
    font-size: 1.6rem;
    font-weight: 500;
}

.game .turn .turn-bg {
    margin: 0 auto;
    width: 19rem;
    height: 15rem;
    display: grid;
    place-items: center;
}

.game .turn .turn-sign {
    color: white;
    text-align: center;
}

.game .turn .timer {
    font-size: 5.6rem;
    line-height: 7rem;
    font-weight: 700;
}

/* BG decoration */
.bg-decoration {
    width: 100vw;
    height: 23.6rem;
    border-radius: 6rem 6rem 0 0;
    background-color: var(--color-menu-p);
    position: absolute;
    bottom: 0;
    margin: unset;
}